* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    overflow-x: hidden;
}

.navbar {
    background-color: #E3F3FD;
    margin: 0px 5px;

}

.nav-box {
    box-sizing: border-box;
    margin: 0px 10px;
}
.p-last-update {
    color: #adacac;
}

.p-last-update:hover {
    color: #5c5c5c;
}

.box-image {
    position: relative;
    top: 40px;

}

.about-me {
    padding-left: 40px;
    padding-top: 90px ;
    margin: 50px 0px;
}

.about-me a {
    color: #817c7c;
    text-decoration: none;
}

.about-me a:hover {
    color: #020202;

}
.bg-blueSky {
    background-color: #B6F0F0;
}

.row-second {
    height: 300px;
    padding-left: 40px;
    background-color: #B6F0F0
}

.text-first {
    padding-top: 100px;
    padding-left: 60px;
}

.title {
    margin: 20px;
    position: relative;
    left: 210px;
    color: #5c5c5c;
    font-size: 20px;
}

.title:hover {
    color: rgb(0, 0, 0);
}


.icon-img {
    position: relative;
    right: 80px;
}

.weightGrow:hover,
.weightGrow:focus {
    box-shadow:
        -1px -1px 0 #aeb1af,
        1px -1px 0 #e2df30,
        -1px 1px 0 #2DD785,
        1px 1px 0 #2DD785;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}


.button-6 {
    align-items: center;
    background-color: #cec8c8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}



.button-33 {
    background-color: rgb(109, 192, 224);
    border-radius: 100px;
    box-shadow: rgba(44, 82, 187, 0.2) 0 -25px 18px -14px inset,
        rgba(44, 82, 187, .15) 0 1px 2px, rgba(44, 82, 187, .15) 0 2px 4px,
        rgba(44, 82, 187, .15) 0 4px 8px, rgba(44, 82, 187, .15) 0 8px 16px,
        rgba(44, 82, 187, .15) 0 16px 32px;
    color: rgb(3, 21, 29);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 7px 20px;
    text-align: center;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 270px;
}

.button-33:hover {
    box-shadow: rgba(44, 82, 187, 0.2) 0 -25px 18px -14px inset,
        rgba(44, 82, 187, .15) 0 1px 2px, rgba(44, 82, 187, .15) 0 2px 4px,
        rgba(44, 82, 187, .15) 0 4px 8px, rgba(44, 82, 187, .15) 0 8px 16px,
        rgba(44, 82, 187, .15) 0 16px 32px;

    color: rgb(3, 21, 29);
    transform: scale(1.05) rotate(-1deg);
}